In [8]:
# Zadanie 1: Zliczanie samogłosek z użyciem reduce i lambda
from functools import reduce
from operator import mul
import itertools

tekst = "Zliczamy samogłoski w tym zdaniu"
samogloski = 'aeiouyąęóAEIOUYĄĘÓ'
zlicz = lambda t: reduce(lambda acc, ch: acc + (1 if ch in samogloski else 0), t, 0)
print("Zadanie 1:", zlicz(tekst))

Zadanie 1: 11

In [9]:
# Zadanie 2: Sortowanie krotek po wartości punktowej
dane = [('Adam', 'Nowak', '13 pkt'), ('Anna', 'Górka', '15 pkt'), ('Wojtek', 'Bonk', '8 pkt')]
posortowane = sorted(dane, key=lambda x: int(x[2].split()[0]), reverse=True)
print("Zadanie 2:", posortowane)

Zadanie 2: [('Anna', 'Górka', '15 pkt'), ('Adam', 'Nowak', '13 pkt'), ('Wojtek', 'Bonk', '8 pkt')]

In [10]:
# Zadanie 3: Iloczyn pierwszych 10 liczb Fibonacciego z użyciem lambda, reduce i operator.mul
fib = lambda n: reduce(lambda x, _: x + [x[-1] + x[-2]], range(n - 2), [0, 1])
pierwsze_10 = fib(10)
iloczyn = reduce(mul, pierwsze_10[1:])
print("Zadanie 3:", iloczyn)

Zadanie 3: 2227680

In [11]:
# Zadanie 4: Zwróć dzień tygodnia za n dni, zaczynając od zadanego dnia
def jaki_dzien(start_dzien, n):
    dni = ['poniedziałek', 'wtorek', 'środa', 'czwartek', 'piątek', 'sobota', 'niedziela']
    day_cycle = itertools.cycle(dni)
    while next(day_cycle) != start_dzien:
        pass
    for _ in range(n):
        next_day = next(day_cycle)
    return next_day

print("Zadanie 4:", jaki_dzien('wtorek', 3))

Zadanie 4: piątek

In [12]:
# Zadanie 5: Permutacje 'ABCD' długości 2 jako stringi
perm = list(itertools.permutations('ABCD', 2))
perm_string = list(map(lambda x: ''.join(x), perm))
print("Zadanie 5:", perm_string)

Zadanie 5: ['AB', 'AC', 'AD', 'BA', 'BC', 'BD', 'CA', 'CB', 'CD', 'DA', 'DB', 'DC']

In [13]:
# Zadanie 6: Ile jest kombinacji rozmienienia 100 zł
count = 0
for dwudziestki in range(5):      # 0–4
    for dziesiatki in range(4):   # 0–3
        for piecdziesiatki in range(3):  # 0–2
            for piatki in range(3):      # 0–2
                suma = 20*dwudziestki + 10*dziesiatki + 50*piecdziesiatki + 5*piatki
                if suma == 100:
                    count += 1

print("Zadanie 6:", count)

Zadanie 6: 8

In [14]:
# Zadanie 7: Starmap z funkcją format()
dane_format = [(123.4567, '.2f'), (42, 'b'), (255, 'x'), (7.5, '%')]
wynik_formatowania = list(itertools.starmap(format, dane_format))
print("Zadanie 7:", wynik_formatowania)

Zadanie 7: ['123.46', '101010', 'ff', '750.000000%']